<div class="body">
    {{!-------------------------------------- SEARCH BAR -------------------------------------}}
    <div class="search-class">
        <form class="search-class" action="/lesson-search" method="post">
            <input type="text" name="search" class="search-input" placeholder="Tìm bài giảng theo giáo viên" value="">
            <button class="search-baigiang-button" type="submit"><i class="fas fa-search"></i></button>
        </form>
    </div>

    {{!---------------------------------DROPDOWN FILTER -------------------------------------}}
    <div class="dropdown_baigiang">
        <div class="row baigiang-buttons">
            <div class="col-lg-2 col-md-5 col-sm-12 mr-3">
                <div class="form-group">
                    <label for="BG_sort">
                        <div class="filter-title">Sắp xếp theo</div>
                    </label> <select class="form-control" id="baigiang_sort">
                        <option value=""></option>
                        <option value=0>Mới nhất</option>
                        <option value=1>Cũ nhất</option>
                        <option value=2>Thời lượng (ngắn nhất)</option>
                        <option value=3>Thời lượng (dài nhất)</option>
                    </select>
                </div>
            </div>

            <div class="col-lg-1 col-md-5 col-sm-12 mr-3">
                <div class="form-group"> <label for="BG_filter">
                        <div class="filter-title">Lớp</div>
                    </label> <select class="form-control course_filter" id="baigiang_filter_grade">
                        <option value=""></option>
                        <option value="Lớp 6">Lớp 6</option>
                        <option value="Lớp 7">Lớp 7</option>
                        <option value="Lớp 8">Lớp 8</option>
                        <option value="Lớp 9">Lớp 9</option>
                        <option value="Lớp 10">Lớp 10</option>
                        <option value="Lớp 11">Lớp 11</option>
                        <option value="Lớp 12">Lớp 12</option>
                    </select>
                </div>
            </div>

            <div class="col-lg-2 col-md-5 col-sm-12 mr-3">
                <div class="form-group"> <label for="BG_filter">
                        <div class="filter-title">Môn học</div>
                    </label> <select class="form-control course_filter" id="baigiang_filter_subject">
                        <option value=""></option>
                        <option value=0>Tổng hợp nhiều môn</option>
                        <option value=1>Ngữ Văn</option>
                        <option value=2>Toán Học</option>
                        <option value=3>Tiếng Anh</option>
                        <option value=4>Tin Học</option>
                        <option value=5>Vật Lý</option>
                        <option value=6>Hóa Học</option>
                        <option value=7>Sinh Học</option>
                        <option value=8>Lịch Sử</option>
                    </select>
                </div>
            </div>

            <div class="col-lg-2 col-md-5 col-sm-12 mr-3">
                <div class="form-group"> <label for="BG_filter">
                        <div class="filter-title">Giáo viên</div>
                    </label> <select class="form-control" id="baigiang_filter_giaovien">
                        <option value=""></option>
                        {{#each TeacherArray}}
                        <option value='{{this.id}}'>{{this.ho_va_ten}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>

            <div class="col-lg-2 col-md-5 col-sm-12 mr-3">
                <div class="form-group"> <label for="BG_filter">
                        <div class="filter-title">Khóa học</div>
                    </label> <select class="form-control" id="baigiang_filter_course">
                        <option value=""></option>
                        {{#each CourseArray}}
                        <option value='{{this.ma_kh}}'>{{this.ten_kh}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>

            <div class="col-lg-2 col-md-5 col-sm-12 mr-3">
                <div class="add_baigiang_button">
                    <button class="button"><i class="fas fa-plus mr-2"></i>THÊM </button>
                </div>
            </div>
        </div>
    </div>



    {{!---------------------------------MAIN -------------------------------------}}
    <div class="baigiang_container">
        {{#each LessonArray}}
        <div class="baigiang_item">
            <h4 class="baigiang_name">{{this.ten_bai_giang}}</h4>
            <div class="lesson-info">
                <span class="course-name mr-5"><i class="fas fa-book mr-1"></i>Khóa học: <b>{{this.ma_kh}}</b></span>
                <span class="teacher-name mr-5"><i class="fas fa-user-tie mr-1"></i>Giáo viên: <b
                        class="baigiang_teacher_value">{{this.ten_gv}}</b></span>
                <span class="duration mr-5"><i class="fas fa-clock mr-1"></i>Thời lượng: <b
                        class="baigiang_thoiluong">{{this.thoi_luong}}</b> phút</span>
                <span class="upload-time mr-5"><i class="fas fa-calendar-alt mr-1"></i>Thời điểm đưa lên hệ thống: <b
                        class="baigiang_startDate_value">{{formatDate this.upload_time}}</b></span>
                <button class="button mr-2" id="i_btn" data-ma_bai_giang={{this.ma_bai_giang}}
                    data-ma_gv={{this.ma_gv}}><i class="fas fa-info-circle mr-2"></i>Chi tiết</button>
                <button class="button mr-2" id="u_btn" data-ma_bai_giang={{this.ma_bai_giang}}
                    data-ma_gv={{this.ma_gv}}><i class="fas fa-pen mr-2"></i>Sửa</button>
                <div type="hidden" id="link_video" class="link_video" style="display: none;"> {{this.link_video}} </div>
                <div type="hidden" class="baigiang_subject_value" style="display: none;"> {{this.ma_mon_hoc}} </div>
                <div type="hidden" class="baigiang_teacher_id" style="display: none;">{{this.ma_gv}}</div>
                <div type="hidden" class="baigiang_course_id" style="display: none;">{{this.ma_kh}}</div>
                <div type="hidden" class="baigiang_id" style="display: none;">{{this.ma_bai_giang}}</div>
            </div>
        </div>
        {{/each}}
    </div>

    {{!---------------------------------baigiang INFO-------------------------------------}}
    <div class="info-baigiang-container">
        <div class="info__box">
            <div class="info__header">
                <div class="info__header-name">CHI TIẾT BÀI GIẢNG</div>
                <i class="fas fa-times close__info_baigiang-icon"></i>
            </div>
            <div class="info__body">
                <div class="info__description_baigiang">
                    <div class="baigiang__name">Bài giảng số 1</div>
                    <hr>
                    <div class="youtube-video">
                        <iframe class="link__video" id="link__video" width="560" height="315"
                            src='https://www.youtube.com/embed/vVN8vdMaHRE' title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <hr>
                    <div class="baigiang_subject">
                        <div class="baigiang_subject_title"><i class="fas fa-chalkboard-teacher mr-1"></i>Môn học:</div>
                        <div class="baigiang__subject_value">Ngữ Văn</div>
                    </div>

                    <div class="baigiang_teacher">
                        <div class="baigiang_teacher_title"><i class="fas fa-user-tie mr-2"></i>Giảng viên:</div>
                        <div class="baigiang__teacher_value">Bùi Lương Vinh Hiển</div>
                    </div>

                    <div class="baigiang_startDate">
                        <div class="baigiang_startDate_title"><i class="fas fa-calendar-alt mr-2"></i>Thời điểm đưa lên
                            hệ thống:</div>
                        <div class="baigiang__startDate_value">24/11/2021</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{!---------------------------------ADD baigiang-------------------------------------}}
    <div class="add-baigiang-container">
        <div class="add-baigiang__box">
            <div class="add-baigiang__header">
                <div class="add-baigiang__header-name">THÊM BÀI GIẢNG</div>
                <i class="fas fa-times close__add-baigiang-icon"></i>
            </div>
            <div class="row" id="add-baigiang__body">
                <div class="col-12">

                    <form action="/lesson-add" class="add-baigiang__input" method="POST" name="add-baigiang-form">
                        <label for="">Tên bài giảng</label>
                        <input type="text" id="add-baigiang_ten" name="ten_bai_giang">

                        <label for="">Khóa học</label>
                        <select id="add-baigiang_khoahoc" name="ma_kh">
                            <option value=" "></option>
                            {{#each CourseArray}}
                            <option value='{{this.ma_kh}}'>{{this.ten_kh}}</option>
                            {{/each}}
                        </select>

                        <label for="">Giáo viên</label>
                        <select id="add-baigiang_giaovien" name="ma_gv">
                            <option value=" "></option>
                            {{#each TeacherArray}}
                            <option value='{{this.id}}'>{{this.ho_va_ten}}</option>
                            {{/each}}
                        </select>

                        <label for="">Thời lượng</label>
                        <input type="text" id="add-baigiang_thoiluong" name="thoi_luong">

                        <label for="">Đường dẫn video</label>
                        <input type="text" id="add-baigiang_videolink" name="link_video">


                        <label for="">Thời điểm upload</label>
                        <input type="date" id="add-baigiang_uploadtime" name="upload_time">

                        <button class="btn btn-primary btn-block" type="submit"><i class="fas fa-plus mr-2"></i>
                            Thêm bài giảng
                        </button>
                    </form>
                </div>

            </div>
        </div>
    </div>



    {{!---------------------------------Update baigiang-------------------------------------}}
    <div class="update-baigiang-container">
        <div class="update-baigiang__box">
            <div class="update-baigiang__header">
                <div class="update-baigiang__header-name">CHỈNH SỬA BÀI GIẢNG</div>
                <i class="fas fa-times close__update-baigiang-icon"></i>
            </div>
            <div class="row" id="update-baigiang__body">
                <div class="col-12">

                    <form action="/lesson-update" class="update-baigiang__input" method="POST" name="update-baigiang-form">
                        <input type="text" id="update-baigiang__id" name="id" hidden>

                        <label for="">Tên bài giảng</label>
                        <input type="text" id="update-baigiang_ten" name="ten_bai_giang">

                        <label for="">Khóa học</label>
                        <select id="update-baigiang_khoahoc" name="ma_kh">
                            <option value=" "></option>
                            {{#each CourseArray}}
                            <option value={{this.ma_kh}}>{{this.ten_kh}}</option>
                            {{/each}}
                        </select>

                        <label for="">Giáo viên</label>
                        <select id="update-baigiang_giaovien" name="ma_gv">
                            <option value=" "></option>
                            {{#each TeacherArray}}
                            <option value={{this.id}}>{{this.ho_va_ten}}</option>
                            {{/each}}
                        </select>

                        <label for="">Thời lượng</label>
                        <input type="text" id="update-baigiang_thoiluong" name="thoi_luong">

                        <label for="">Đường dẫn video</label>
                        <input type="text" id="update-baigiang_videolink" name="link_video">


                        <label for="">Thời điểm upload</label>
                        <input type="date" id="update-baigiang_uploadtime" name="upload_time">

                        <div class="row baigiang-button-list">
                            <button class="btn btn-primary" type="submit" id="update_baigiang_btn">Cập nhật</button>
                            <button class="btn btn-primary" type="submit" id="delete_baigiang_btn">Xóa bài
                                giảng</button>
                        </div>
                    </form>
                </div>

            </div>

        </div>
    </div>

    {{#if filterFlag}}
    <form action="/lesson-filter" method="POST" role="form" name="lesson-filter-form">
        <input type="text" class="form-control" id="baigiang_sort_form" name="baigiang_sort_form" hidden
            value={{filters.baigiang_sort_form}}>
        <input type="text" class="form-control" id="baigiang_filter_grade_form" name="baigiang_filter_grade_form" hidden
            value="{{filters.baigiang_filter_grade_form}}">
        <input type="text" class="form-control" id="baigiang_filter_subject_form" name="baigiang_filter_subject_form"
            hidden value={{filters.baigiang_filter_subject_form}}>
        <input type="text" class="form-control" id="baigiang_filter_giaovien_form" name="baigiang_filter_giaovien_form"
            hidden value={{filters.baigiang_filter_giaovien_form}}>
        <input type="text" class="form-control" id="baigiang_filter_course_form" name="baigiang_filter_course_form"
            hidden value={{filters.baigiang_filter_course_form}}>
    </form>
    {{else}}
    <form action="/lesson-filter" method="POST" role="form" name="lesson-filter-form">
        <input type="text" class="form-control" id="baigiang_sort_form" name="baigiang_sort_form" hidden value="">
        <input type="text" class="form-control" id="baigiang_filter_grade_form" name="baigiang_filter_grade_form" hidden
            value="">
        <input type="text" class="form-control" id="baigiang_filter_subject_form" name="baigiang_filter_subject_form"
            hidden value="">
        <input type="text" class="form-control" id="baigiang_filter_giaovien_form" name="baigiang_filter_giaovien_form"
            hidden value="">
        <input type="text" class="form-control" id="baigiang_filter_course_form" name="baigiang_filter_course_form"
            hidden value="">
    </form>
    {{/if}}
</div>