<div class="giaovien_body">
    {{!---------------------------------DROPDOWN FILTER -------------------------------------}}
    <div class="dropdown_giaovien">
        <div class="row">
            <div class="col-lg-2 col-md-5 col-sm-12 mr-3">
                <div class="form-group"> <label for="GV_filter">
                        <div class="filter-title">Lớp</div>
                    </label> <select class="form-control course_filter" id="filter_grade-t">
                        <option value=" "></option>
                        <option>Lớp 6</option>
                        <option>Lớp 7</option>
                        <option>Lớp 8</option>
                        <option>Lớp 9</option>
                        <option>Lớp 10</option>
                        <option>Lớp 11</option>
                        <option>Lớp 12</option>
                    </select>
                </div>
            </div>

            <div class="col-lg-2 col-md-5 col-sm-12 mr-3">
                <div class="form-group"> <label for="GV_filter">
                        <div class="filter-title">Môn học</div>
                    </label> <select class="form-control course_filter" id="filter_subject-t">
                        <option value=" "></option>
                        <option>Ngữ Văn</option>
                        <option>Toán Học</option>
                        <option>Tiếng Anh</option>
                        <option>Tin Học</option>
                        <option>Vật Lý</option>
                        <option>Hóa Học</option>
                        <option>Sinh Học</option>
                        <option>Lịch Sử</option>
                    </select>
                </div>
            </div>

            <div class="col-lg-5 col-md-6 col-sm-12">
                <div class="search-class">
                    <form class="search-class" action="#" method="POST">
                        <input type="text" name="search" class="search-input" placeholder="Nhập tên giáo viên cần tìm">
                        <button class="search-button" type="submit"><i class="fas fa-search"></i></button>
                    </form>
                </div>
            </div>

            <div class="col-lg-2 col-md-5 col-sm-12 mr-3">
                <div class="add_button">
                    <button class="button"><i class="fas fa-plus mr-2"></i>THÊM </button>
                </div>
            </div>
        </div>
    </div>



    {{!---------------------------------MAIN -------------------------------------}}
    <div class="giaovien_container">
        <div class="row row-card">
            {{#each TeacherArray}}
            <div class="col-sm-8 col-md-6 col-lg-3">
                <div class="card teacher-content">
                    <img class="card-img-top" id="teacher-image" src="{{this.hinh_anh}}" alt="Card image cap" />
                    <div class="card-body">
                        <div class="card-title" id="teacher-name">{{this.ho_va_ten}}</div>
                        <div class="info">
                            <div class="work" id="teacher-school"><i
                                    class="fas fa-briefcase mr-2"></i>{{this.noi_cong_tac}}</div>

                            <div class="grade" id="teacher-degree"><i
                                    class="fas fa-graduation-cap mr-2"></i>{{this.bang_cap}}</div>

                            <div class="descrip" id="teacher-des"><i class="fas fa-info-circle mr-2"></i>{{this.mo_ta}}
                            </div>

                            <div type="hidden" id="teacher-subject" style="display: none;"> {{this.ten_mon}} </div>
                            <div type="hidden" id="teacher-email" style="display: none;"> {{this.email}} </div>
                            <div type="hidden" id="teacher-follow" style="display: none;"> {{this.so_luong_theo_doi}}
                            </div>
                            <div type="hidden" id="teacher-birthday" style="display: none;"> {{this.ngay_sinh}} </div>
                            <div type="hidden" id="teacher-sex" style="display: none;"> {{this.gioi_tinh}} </div>
                            <div type="hidden" id="teacher-city" style="display: none;"> {{this.tinh_tp}} </div>
                            <div type="hidden" id="teacher-district" style="display: none;"> {{this.quan_huyen}} </div>
                            <div type="hidden" id="teacher-ward" style="display: none;"> {{this.xa_phuong}} </div>
                            <div type="hidden" id="teacher-id" style="display: none;"> {{this.id}} </div>
                            <div type="hidden" id="teacher-fname" style="display: none;"> {{this.ho}} </div>
                            <div type="hidden" id="teacher-mname" style="display: none;"> {{this.ten_lot}} </div>
                            <div type="hidden" id="teacher-lname" style="display: none;"> {{this.ten}} </div>
                            <div type="hidden" id="teacher-loginname" style="display: none;"> {{this.ten_dang_nhap}}
                            </div>



                        </div>
                    </div>
                    <div class="info_button">
                        <button class="button" id="u_btn" data-id="{{this.id}}">Sửa </button>
                        <button class="button" id="i_btn" data-id="{{this.id}}"><i
                                class="fas fa-info-circle mr-2"></i>Chi tiết </button>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>

    {{!-------------------------------------------------INFO GIAO VIEN-------------------------------------------------------}}
    <div class="info-giaovien-container" id="detail-teacher-modal">
        <div class="info__box">
            <div class="info__header">
                <div class="info__header-name">CHI TIẾT GIÁO VIÊN </div>
                <i class="fas fa-times close__info-giaovien-icon"></i>
            </div>
            <div class="info__body">
                <div class="info__image">
                    <img src="./images/teacher/teacher_8.png" id="detail-teacher-image">
                </div>
                <div class="info__description">

                    <div class="giaovien__name">
                        <div class="giaovien__title"><i class="fas fa-user mr-2"></i>Họ và tên:</div>
                        <div class="giaovien__value" id="detail-teacher-name">Trần Vân Anh</div>
                    </div>

                    <hr>
                    <div class="giaovien__workplace">
                        <div class="giaovien__title"><i class="fas fa-map-marker-alt mr-2"></i>Nơi công tác:</div>
                        <div class="giaovien__value" id="detail-teacher-school">Trường THPT Bùi Thị Xuân</div>
                    </div>

                    <hr>
                    <div class="giaovien__subject">
                        <div class="giaovien__title"><i class="fas fa-book mr-2"></i>Môn giảng dạy:</div>
                        <div class="giaovien__value" id="detail-teacher-subject">Lịch Sử</div>
                    </div>

                    <hr>
                    <div class="giaovien__degree">
                        <div class="giaovien__title"><i class="fas fa-graduation-cap mr-2"></i>Bằng cấp:</div>
                        <div class="giaovien__value" id="detail-teacher-degree">Chứng chỉ tin học đạt chuẩn kỹ năng sử
                            dụng công nghệ thông tin cơ
                            bản</div>
                    </div>

                    <hr>
                    <div class="giaovien__email">
                        <div class="giaovien__title"><i class="fas fa-envelope mr-2"></i>Email:</div>
                        <div class="giaovien__value" id="detail-teacher-email">builuongvinhhien@hcmut.edu.vn</div>
                    </div>

                    <hr>
                    <div class="giaovien__studentFollow">
                        <div class="giaovien__title"><i class="fas fa-user-graduate mr-2"></i>Số lượng học viên
                            theo dõi:</div>
                        <div class="giaovien__value" id="detail-teacher-follow">100</div>
                    </div>

                    <hr>
                    <div class="giaovien__description">
                        <i class="fas fa-info-circle mr-2"></i>
                        <div id="detail-teacher-description">Mô tả: Quan điểm giảng dạy: "Muốn giáo dục cho con trẻ,
                            mỗi người thầy cần
                            là một tấm gương sáng về nhân cách, tự học và sáng tạo"</div>
                    </div>


                </div>
            </div>

        </div>
    </div>


    {{!---------------------------------ADD GIAO VIEN-------------------------------------}}
    <div class="add-giaovien-container">
        <div class="add-giaovien__box">
            <div class="add-giaovien__header">
                <div class="add-giaovien__header-name">THÊM GIÁO VIÊN </div>
                <i class="fas fa-times close__add-giaovien-icon"></i>
            </div>
            <form action="/teacher-add" class="add-giaovien__input" method="POST" name="add-giaovien-form">
                <div class="row" id="add-giaovien__body">
                    <div class="col-lg-6 col-12">
                        {{!-- <label for="">ID món ăn</label> --}}

                        <input type="text" id="add-giaovien_ID" name="id" hidden>
                        <label for="">Họ</label>
                        <input type="text" id="add-giaovien_FName" class="form-control" name="ho">

                        <label for="">Tên lót</label>
                        <input type="text" id="add-giaovien_MName" class="form-control" name="ten_lot">

                        <label for="">Tên</label>
                        <input type="text" id="add-giaovien_LName" class="form-control" name="ten">

                        <label for="">Ngày sinh</label>
                        <input type="date" id="add-giaovien_Birthday" class="form-control" name="ngay_sinh">

                        <label for="">Giới tính</label>
                        <select id="add-giaovien_Sex" class="form-control" name="gioi_tinh">
                            <option>Nam</option>
                            <option>Nữ</option>
                        </select>

                        <label for="">Email</label>
                        <input type="text" id="add-giaovien_Email" class="form-control" name="email">

                        <label for="">Tỉnh, thành phố sinh sống</label>
                        <input type="text" id="add-giaovien_City" class="form-control" name="tinh_tp">

                    </div>


                    <div class="col-lg-6 col-12">

                        <label for="">Quận, huyện</label>
                        <input type="text" id="add-giaovien_District" class="form-control" name="quan_huyen">

                        <label for="">Xã, phường</label>
                        <input type="text" id="add-giaovien_Ward" class="form-control" name="xa_phuong">

                        <label for="">Tên đăng nhập</label>
                        <input type="text" id="add-giaovien_LoginName" class="form-control" name="ten_dang_nhap">

                        <label for="">Mật khẩu</label>
                        <input type="password" class="form-control" name="mat_khau">

                        <label for="">Nơi công tác hiện tại</label>
                        <input type="text" id="add-giaovien_Workplace" class="form-control" name="noi_cong_tac">

                        <label for="">Mô tả</label>
                        <input type="text" id="add-giaovien_description" class="form-control" name="mo_ta">
                        <input type="text" name="loai" value="2" hidden>


                    </div>
                </div>
            </form>
            <button class="btn btn-primary btn-block" type="submit"><i class="fas fa-plus mr-2"></i>Thêm giáo
                viên</button>
        </div>
    </div>
    {{!---------------------------------Update GIAO VIEN-------------------------------------}}
    <div class="update-giaovien-container">
        <div class="update-giaovien__box">
            <div class="update-giaovien__header">
                <div class="update-giaovien__header-name">CHỈNH SỬA THÔNG TIN GIÁO VIÊN </div>
                <i class="fas fa-times close__update-giaovien-icon"></i>
            </div>
            <form action="#" class="update-giaovien__input" method="POST" name="update-giaovien-form">
                <div class="row" id="update-giaovien__body">
                    <div class="col-lg-6 col-12">
                        {{!-- <label for="">ID món ăn</label> --}}

                        <input type="text" id="update-giaovien_ID" class="form-control" name="id" hidden>
                        <label for="">Họ</label>
                        <input type="text" id="update-giaovien_FName" class="form-control" name="ho">

                        <label for="">Tên lót</label>
                        <input type="text" id="update-giaovien_MName" class="form-control" name="ten_lot">

                        <label for="">Tên</label>
                        <input type="text" id="update-giaovien_LName" class="form-control" name="ten">

                        <label for="">Ngày sinh</label>
                        <input type="date" id="update-giaovien_Birthday" class="form-control" name="ngay_sinh">

                        <label for="">Giới tính</label>
                        <select id="update-giaovien_Sex" class="form-control" name="gioi_tinh">
                            <option>Nam</option>
                            <option>Nữ</option>
                        </select>

                        <label for="">Email</label>
                        <input type="text" id="update-giaovien_Email" class="form-control" name="email">

                        <label for="">Tỉnh, thành phố sinh sống</label>
                        <input type="text" id="update-giaovien_City" class="form-control" name="tinh_tp">

                    </div>


                    <div class="col-lg-6 col-12">

                        <label for="">Quận, huyện</label>
                        <input type="text" id="update-giaovien_District" class="form-control" name="quan_huyen">

                        <label for="">Xã, phường</label>
                        <input type="text" id="update-giaovien_Ward" class="form-control" name="xa_phuong">

                        <label for="">Tên đăng nhập</label>
                        <input type="text" id="update-giaovien_LoginName" class="form-control" name="ten_dang_nhap">

                        <label for="">Mật khẩu</label>
                        <input type="password" id="update-giaovien_Password" class="form-control" name="mat_khau">

                        <label for="">Nơi công tác hiện tại</label>
                        <input type="text" id="update-giaovien_Workplace" class="form-control" name="noi_cong_tac">

                        <label for="">Mô tả</label>
                        <input type="text" id="update-giaovien_description" class="form-control input-lg" name="mo_ta">


                    </div>
                </div>
            </form>
            <div class="row">
                <button class="btn btn-primary" type="submit" id="update_btn">Cập nhật</button>
                <button class="btn btn-primary" type="submit" id="delete_btn">Xóa giáo viên</button>
            </div>

            {{#if filterFlag}}
            <form action="/teacher-filter" method="POST" role="form" name="filter-form">
                <input type="text" class="form-control" id="filter_grade_form" name="filter_grade_form" hidden
                    value="{{filters.filter_grade_form}}">
                <input type="text" class="form-control" id="filter_subject_form" name="filter_subject_form" hidden
                    value="{{filters.filter_subject_form}}">
            </form>
            {{else}}
            <form action="/teacher-filter" method="POST" role="form" name="filter-form">
                <input type="text" class="form-control" id="filter_grade_form" name="filter_grade_form" hidden
                    value=" ">
                <input type="text" class="form-control" id="filter_subject_form" name="filter_subject_form" hidden
                    value=" ">
            </form>
            {{/if}}
        </div>
    </div>


</div>