<div class="body">
    {{!-------------------------------------- SEARCH BAR -------------------------------------}}
    <div class="search-class">
        <form class="search-class" action="#" method="post">
            <input type="text" name="search" class="search-input" placeholder="Nhập tên khóa học cần tìm">
            <button class="search-button" type="submit"><i class="fas fa-search"></i></button>
        </form>
    </div>

    {{!---------------------------------DROPDOWN FILTER -------------------------------------}}
    <div class="dropdown_khoahoc">
        <div class="row">
            <div class="col-lg-2 col-md-5 col-sm-12 mr-3">
                <div class="form-group"> <label for="KH_filter">
                        <div class="filter-title">Lớp</div>
                    </label> <select class="form-control" id="filter_grade">
                        <option value=" "></option>
                        <option>Lớp 6</option>
                        <option>Lớp 7</option>
                        <option>Lớp 8</option>
                        <option>Lớp 9</option>
                        <option>Lớp 10</option>
                        <option>Lớp 11</option>
                        <option>Lớp 12</option>
                    </select>
                </div>
            </div>

            <div class="col-lg-2 col-md-5 col-sm-12 mr-3">
                <div class="form-group"> <label for="KH_filter">
                        <div class="filter-title">Môn học</div>
                    </label> <select class="form-control" id="filter_subject">
                        <option value=" "></option>
                        <option>Ngữ Văn</option>
                        <option>Toán Học</option>
                        <option>Tiếng Anh</option>
                        <option>Tin Học</option>
                        <option>Vật Lý</option>
                        <option>Hóa Học</option>
                        <option>Sinh Học</option>
                        <option>Lịch Sử</option>
                    </select>
                </div>
            </div>

            <div class="col-lg-2 col-md-5 col-sm-12 mr-3">
                <div class="form-group"> <label for="KH_filter">
                        <div class="filter-title">Loại khóa học</div>
                    </label> <select class="form-control" id="filter_type">
                        <option value=" "></option>
                        <option>Đơn lẻ</option>
                        <option>Combo</option>
                    </select>
                </div>
            </div>

            <div class="col-lg-2 col-md-5 col-sm-12 mr-3">
                <div class="form-group"> <label for="KH_filter">
                        <div class="filter-title">Loại trình độ</div>
                    </label> <select class="form-control" id="filter_gradeType">
                        <option value=" "></option>
                        <option>Học Tốt</option>
                        <option>Master</option>
                        <option>MasterZ</option>
                        <option>Bổ trợ</option>
                        <option>Pen-I</option>
                        <option>Pen-C</option>
                        <option>Pen-M</option>
                    </select>
                </div>
            </div>

            <div class="col-lg-2 col-md-5 col-sm-12 mr-3">
                <div class="add_button">
                    <button class="button"><i class="fas fa-plus mr-2"></i>THÊM </button>
                </div>
            </div>
        </div>
    </div>



    {{!---------------------------------MAIN -------------------------------------}}
    <div class="khoahoc_container">
        <div class="row row-card">
            {{#each CourseArray}}
            <div class="col-sm-8 col-md-6 col-lg-3">
                <div class="card">
                    <img class="card-img-top" src="{{this.image}}" alt="Card image cap" />
                    <div class="card-body">
                        <div class="card-title">{{this.name}}</div>
                        <div class="info">
                            <div class="tuition">
                                <div class="title" id="money"><i class="fas fa-dollar-sign mr-2"></i>Học phí: </div>
                                <div class="value">{{this.tuition}}</div>
                            </div>
                            <div class="startDate">
                                <div class="title"><i class="fas fa-calendar-alt mr-2"></i>Ngày khai giảng:</div>
                                <div class="value">{{this.startDate}}</div>
                            </div>
                            <div class="submitDate">
                                <div class="title"><i class="fas fa-calendar-alt mr-2"></i>Hạn đăng ký:</div>
                                <div class="value">{{this.submitDate}}</div>
                            </div>
                            <div class="teacher">
                                <div class="title"><i class="fas fa-user-tie mr-2"></i>Giảng viên:</div>
                                <div class="value">{{this.teacher}}</div>
                            </div>
                        </div>
                        <div class="info_button">
                            <button class="button" id="u_btn">Sửa </button>
                            <button class="button" id="i_btn"><i class="fas fa-info-circle mr-2"></i>Chi tiết </button>
                        </div>

                    </div>
                </div>
            </div>
            {{/each}}
        </div>

    </div>

    {{!---------------------------------COURSE INFO-------------------------------------}}
    <div class="info-course-container">
        <div class="info__box">
            <div class="info__header">
                <div class="info__header-name">CHI TIẾT KHÓA HỌC </div>
                <i class="fas fa-times close__info-icon"></i>
            </div>
            <div class="info__body">
                <div class="info__image">
                    <img src="./images/course/course_8.jpg">
                </div>
                <div class="info__description">
                    <div class="course__name">Học tốt Ngữ văn 6 - Bộ Kết nối tri thức với cuộc sống</div>
                    <hr>
                    <div class="course__subject">
                        <div class="course__title"><i class="fas fa-chalkboard-teacher mr-1"></i>Môn học:</div>
                        <div class="course__value">Ngữ Văn</div>
                    </div>


                    <div class="course__grade">
                        <div class="course__title"><i class="fas fa-school mr-1"></i>Lớp:</div>
                        <div class="course__value">Lớp 6</div>
                    </div>

                    <div class="course__type">
                        <div class="course__title"><i class="fas fa-graduation-cap mr-1"></i>Loại trình độ:</div>
                        <div class="course__value">Học Tốt</div>
                    </div>

                    <div class="course__teacher">
                        <div class="course__title"><i class="fas fa-user-tie mr-2"></i>Giảng viên:</div>
                        <div class="course__value">Bùi Lương Vinh Hiển</div>
                    </div>

                    <div class="course__tuition">
                        <div class="course__title"><i class="fas fa-dollar-sign mr-2"></i>Học phí:</div>
                        <div class="course__value">1.000.000</div>
                    </div>

                    <div class="course__startDate">
                        <div class="course__title"><i class="fas fa-calendar-alt mr-2"></i>Ngày khai giảng:</div>
                        <div class="course__value">24/11/2021</div>
                    </div>

                    <div class="course__endDate">
                        <div class="course__title"><i class="fas fa-calendar-alt mr-2"></i>Ngày kết thúc:</div>
                        <div class="course__value">24/11/2021</div>
                    </div>

                    <div class="course__submitDate">
                        <div class="course__title"><i class="fas fa-calendar-alt mr-2"></i>Hạn đăng ký:</div>
                        <div class="course__value">24/11/2021</div>
                    </div>

                    <div class="course__numberStudent">
                        <div class="course__title"><i class="fas fa-user-graduate mr-2"></i>SL học viên tham gia:</div>
                        <div class="course__value">100</div>
                    </div>

                    <div class="course__description">
                        <i class="fas fa-info-circle"></i> Mô tả: Khóa học là gói trang bị kiến thức, bám sát phân phối
                        chương trình bộ
                        Kết nối tri thức với cuộc sống. Bao quát toàn bộ kiến thức trong Bộ 1 (10 bài học theo chủ
                        đề, 4 kĩ năng Đọc – Viết – Nói – Nghe, Thực hành tiếng Việt và đọc mở rộng, Luyện tập)
                    </div>



                </div>
            </div>

        </div>
    </div>

    {{!---------------------------------ADD COURSE-------------------------------------}}
    <div class="add-course-container">
        <div class="add-course__box">
            <div class="add-course__header">
                <div class="add-course__header-name">THÊM KHÓA HỌC </div>
                <i class="fas fa-times close__add-course-icon"></i>
            </div>
            <div class="row" id="add-course__body">
                <div class="col-lg-6 col-12">

                    <form action="#" class="add-course__input" method="POST" name="add-khoahoc-form">

                        {{!-- <label for="">ID món ăn</label> --}}

                        <input type="text" id="add-course_courseID" name="KH_Id" hidden>
                        <label for="">Tên Khóa học</label>
                        <input type="text" id="add-course_courseName" name="KH_Name">

                        <label for="">Loại khóa học</label>
                        <select id="add-course_courseType" name="KH_Type">
                            <option value=1>Đơn lẻ</option>
                            <option value=0>Combo</option>
                        </select>



                        <label for="">Lớp</label>
                        <select id="add-course_courseGrade" name="KH_Grade">
                            <option value=" "></option>
                            <option>Lớp 6</option>
                            <option>Lớp 7</option>
                            <option>Lớp 8</option>
                            <option>Lớp 9</option>
                            <option>Lớp 10</option>
                            <option>Lớp 11</option>
                            <option>Lớp 12</option>
                        </select>

                        <label for="">Loại trình độ</label>
                        <select id="add-course_courseGradeType" name="KH_GradeType">
                            <option value=" "></option>
                            <option>Học Tốt</option>
                            <option>Master</option>
                            <option>MasterZ</option>
                            <option>Bổ trợ</option>
                            <option>Pen-I</option>
                            <option>Pen-C</option>
                            <option>Pen-M</option>
                        </select>

                        <label for="">Môn học</label>
                        <select id="add-course_courseSubject" name="KH_Subject">
                            <option value=" "></option>
                            <option>Ngữ Văn</option>
                            <option>Toán Học</option>
                            <option>Tiếng Anh</option>
                            <option>Tin Học</option>
                            <option>Vật Lý</option>
                            <option>Hóa Học</option>
                            <option>Sinh Học</option>
                            <option>Lịch Sử</option>
                        </select>

                        <label for="">Ngày bắt đầu</label>
                        <input type="date" id="add-course_startDate" name="KH_StartDate">
                    </form>
                </div>


                <div class="col-lg-6 col-12">
                    <form action="#" class="add-course__input" method="POST" name="add-khoahoc-form">
                        <label for="">Ngày kết thúc</label>
                        <input type="date" id="add-course_endDate" name="KH_EndDate">

                        <label for="">Hạn đăng ký</label>
                        <input type="date" id="add-course_submitDate" name="KH_SubmitDate">

                        <label for="">Học phí</label>
                        <input type="text" id="add-course_tuition" name="KH_Tuition">

                        <label>Ảnh minh họa</label>
                        <input type="file" id="add-course_image" name="KH_Image">

                        <label for="">Mô tả</label>
                        <input type="text" id="add-course_descrip" name="KH_Description">

                    </form>
                </div>
            </div>
            <button class="btn btn-primary btn-block" type="submit"><i class="fas fa-plus mr-2"></i>Thêm khóa
                học</button>
        </div>
    </div>



    {{!---------------------------------Update COURSE-------------------------------------}}
    <div class="update-course-container">
        <div class="update-course__box">
            <div class="update-course__header">
                <div class="update-course__header-name">CHỈNH SỬA KHÓA HỌC </div>
                <i class="fas fa-times close__update-course-icon"></i>
            </div>
            <div class="row" id="update-course__body">
                <div class="col-lg-6 col-12">

                    <form action="#" class="update-course__input" method="POST" name="update-khoahoc-form">

                        {{!-- <label for="">ID món ăn</label> --}}

                        <input type="text" id="update-course_courseID" name="update_KH_Id" hidden>
                        <label for="">Tên Khóa học</label>
                        <input type="text" id="update-course_courseName" name="update_KH_Name">

                        <label for="">Loại khóa học</label>
                        <select id="update-course_courseType" name="update_KH_Type">
                            <option value=1>Đơn lẻ</option>
                            <option value=0>Combo</option>
                        </select>



                        <label for="">Lớp</label>
                        <select id="update-course_courseGrade" name="update_KH_Grade">
                            <option value=" "></option>
                            <option>Lớp 6</option>
                            <option>Lớp 7</option>
                            <option>Lớp 8</option>
                            <option>Lớp 9</option>
                            <option>Lớp 10</option>
                            <option>Lớp 11</option>
                            <option>Lớp 12</option>
                        </select>

                        <label for="">Loại trình độ</label>
                        <select id="update-course_courseGradeType" name="update_KH_GradeType">
                            <option value=" "></option>
                            <option>Học Tốt</option>
                            <option>Master</option>
                            <option>MasterZ</option>
                            <option>Bổ trợ</option>
                            <option>Pen-I</option>
                            <option>Pen-C</option>
                            <option>Pen-M</option>
                        </select>

                        <label for="">Môn học</label>
                        <select id="update-course_courseSubject" name="update_KH_Subject">
                            <option value=" "></option>
                            <option>Ngữ Văn</option>
                            <option>Toán Học</option>
                            <option>Tiếng Anh</option>
                            <option>Tin Học</option>
                            <option>Vật Lý</option>
                            <option>Hóa Học</option>
                            <option>Sinh Học</option>
                            <option>Lịch Sử</option>
                        </select>

                        <label for="">Ngày bắt đầu</label>
                        <input type="date" id="update-course_startDate" name="update_KH_StartDate">
                    </form>
                </div>


                <div class="col-lg-6 col-12">
                    <form action="#" class="update-course__input" method="POST" name="update-khoahoc-form">
                        <label for="">Ngày kết thúc</label>
                        <input type="date" id="update-course_endDate" name="update_KH_EndDate">

                        <label for="">Hạn đăng ký</label>
                        <input type="date" id="update-course_submitDate" name="update_KH_SubmitDate">

                        <label for="">Học phí</label>
                        <input type="text" id="update-course_tuition" name="update_KH_Tuition">


                        <label>Ảnh minh họa</label>
                        <input type="file" id="update-course_image" name="update_KH_Image">

                        <label for="">Mô tả</label>
                        <input type="text" id="update-course_descrip" name="update_KH_Description">

                    </form>
                </div>
            </div>

            <div class="row">
                <button class="btn btn-primary" type="submit" id="update_btn">Cập nhật</button>
                <button class="btn btn-primary" type="submit" id="delete_btn">Xóa khóa học</button>
            </div>

        </div>
    </div>
</div>