<div class="body">
    {{!-------------------------------------- SEARCH BAR -------------------------------------}}
    <div class="search-class">
        <form class="search-class" action="#" method="post">
            <input type="text" name="search" class="search-input" placeholder="Nhập tên khóa học cần tìm">
            <button class="search-button" type="submit"><i class="fas fa-search"></i></button>
        </form>
    </div>

    {{!---------------------------------DROPDOWN FILTER -------------------------------------}}
    <div class="dropdown_khoahoc">
        <div class="row">
            <div class="col-lg-2 col-md-5 col-sm-12 mr-3">
                <div class="form-group"> <label for="KH_filter">
                        <div class="filter-title">Lớp</div>
                    </label> <select class="form-control course_filter" id="filter_grade">
                        <option value=" "></option>
                        <option value="Lớp 6">Lớp 6</option>
                        <option value="Lớp 7">Lớp 7</option>
                        <option value="Lớp 8">Lớp 8</option>
                        <option value="Lớp 9">Lớp 9</option>
                        <option value="Lớp 10">Lớp 10</option>
                        <option value="Lớp 11">Lớp 11</option>
                        <option value="Lớp 12">Lớp 12</option>
                    </select>
                </div>
            </div>

            <div class="col-lg-2 col-md-5 col-sm-12 mr-3">
                <div class="form-group"> <label for="KH_filter">
                        <div class="filter-title">Môn học</div>
                    </label> <select class="form-control course_filter" id="filter_subject">
                        <option value=" "></option>
                        <option value=0>Tổng hợp nhiều môn</option>
                        <option value=1>Ngữ Văn</option>
                        <option value=2>Toán Học</option>
                        <option value=3>Tiếng Anh</option>
                        <option value=4>Tin Học</option>
                        <option value=5>Vật Lý</option>
                        <option value=6>Hóa Học</option>
                        <option value=7>Sinh Học</option>
                        <option value=8>Lịch Sử</option>
                    </select>
                </div>
            </div>

            <div class="col-lg-2 col-md-5 col-sm-12 mr-3">
                <div class="form-group"> <label for="KH_filter">
                        <div class="filter-title">Loại khóa học</div>
                    </label> <select class="form-control course_filter" id="filter_type">
                        <option value=" "></option>
                        <option value=0>Đơn lẻ</option>
                        <option value=1>Combo</option>
                    </select>
                </div>
            </div>

            <div class="col-lg-2 col-md-5 col-sm-12 mr-3">
                <div class="form-group"> <label for="KH_filter">
                        <div class="filter-title">Loại trình độ</div>
                    </label> <select class="form-control course_filter" id="filter_gradeType">
                        <option value=" "></option>
                        <option value="HOCTOT">Học Tốt</option>
                        <option value="MASTER">Master</option>
                        <option value="MASTERZ">MasterZ</option>
                        <option value="BOTRO">Bổ trợ</option>
                        <option value="PEN-I">Pen-I</option>
                        <option value="PEN-C">Pen-C</option>
                        <option value="PEN-M">Pen-M</option>
                    </select>
                </div>
            </div>

            <div class="col-lg-2 col-md-5 col-sm-12 mr-3">
                <div class="add_button">
                    <button class="button"><i class="fas fa-plus mr-2"></i>THÊM </button>
                </div>
            </div>
        </div>
    </div>



    {{!---------------------------------MAIN -------------------------------------}}
    <div class="khoahoc_container">
        <div class="row row-card">
            {{#each CourseArray}}
            <div class="col-sm-8 col-md-6 col-lg-3">
                <div class="card course-content">
                    <img class="card-img-top" id="course-image" src="{{this.hinh_anh}}" alt="Card image cap" />
                    <div class="card-body">
                        <div class="card-title" id="course-name">{{this.ten_kh}}</div>
                        <div class="info">
                            <div class="tuition">
                                <div class="title" id="money"><i class="fas fa-dollar-sign mr-2"></i>Học phí: </div>
                                <div class="value" id="course-tuition">{{NumberWithCommas this.hoc_phi}}</div>
                            </div>
                            <div class="startDate">
                                <div class="title"><i class="fas fa-calendar-alt mr-2"></i>Ngày khai giảng:</div>
                                <div class="value" id="course-startDate">{{formatDate this.ngay_bat_dau}}</div>
                            </div>
                            <div class="submitDate">
                                <div class="title"><i class="fas fa-calendar-alt mr-2"></i>Hạn đăng ký:</div>
                                <div class="value" id="course-submitDate">{{formatDate this.han_dk}}</div>
                            </div>
                            <div class="teacher">
                                <div class="title"><i class="fas fa-user-tie mr-2"></i>Giảng viên:</div>
                                <div class="value">"{{this.teacher}}"</div>
                            </div>
                            <div type="hidden" id="course-endDate" style="display: none;"> {{formatDate
                                this.ngay_ket_thuc}} </div>
                            <div type="hidden" id="course-description" style="display: none;"> {{this.mo_ta}} </div>
                            <div type="hidden" id="course-courseType" style="display: none;"> {{this.kieu_kh}} </div>
                            <div type="hidden" id="course-subject" style="display: none;"> {{this.ma_mon_hoc}} </div>
                            <div type="hidden" id="course-class" style="display: none;"> {{this.ten}} </div>
                            <div type="hidden" id="course-level" style="display: none;"> {{this.loai_trinh_do}} </div>

                        </div>
                        <div class="info_button">
                            <button class="button" id="u_btn" data-id="{{this.ma_kh}}">Sửa </button>
                            <button class="button" id="i_btn" data-id="{{this.ma_kh}}"><i
                                    class="fas fa-info-circle mr-2"></i>Chi tiết </button>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>

    </div>

    {{!---------------------------------COURSE INFO-------------------------------------}}
    <div class="info-course-container" id="detail-course-modal">
        <div class="info__box">
            <div class="info__header">
                <div class="info__header-name">CHI TIẾT KHÓA HỌC </div>
                <i class="fas fa-times close__info-icon"></i>
            </div>
            <div class="info__body">
                <div class="info__image">
                    <img src="./images/course/hocmai.jpg" id="detail-course-image">
                </div>
                <div class="info__description">
                    <div class="course__name" id="detail-course-name">Học tốt Ngữ văn 6 - Bộ Kết nối tri thức với cuộc
                        sống</div>
                    <hr>
                    <div class="course__subject">
                        <div class="course__title"><i class="fas fa-chalkboard-teacher mr-1"></i>Môn học:</div>
                        <select class="course__value" id="detail-course-subject">
                            <option value=0>Tổng hợp nhiều môn</option>
                            <option value=1>Ngữ Văn</option>
                            <option value=2>Toán Học</option>
                            <option value=3>Tiếng Anh</option>
                            <option value=4>Tin Học</option>
                            <option value=5>Vật Lý</option>
                            <option value=6>Hóa Học</option>
                            <option value=7>Sinh Học</option>
                            <option value=8>Lịch Sử</option>
                        </select>
                    </div>


                    <div class="course__grade">
                        <div class="course__title"><i class="fas fa-school mr-1"></i>Lớp:</div>
                        <div class="course__value" id="detail-course-class">Lớp 6</div>
                    </div>

                    <div class="course__type">
                        <div class="course__title"><i class="fas fa-graduation-cap mr-1"></i>Loại trình độ:</div>
                        <div class="course__value" id="detail-course-level">Học Tốt</div>
                    </div>

                    <div class="course__teacher">
                        <div class="course__title"><i class="fas fa-user-tie mr-2"></i>Giảng viên:</div>
                        <div class="course__value" id="detail-course-teacher">Bùi Lương Vinh Hiển</div>
                    </div>

                    <div class="course__tuition">
                        <div class="course__title"><i class="fas fa-dollar-sign mr-2"></i>Học phí:</div>
                        <div class="course__value" id="detail-course-tuition">1.000.000</div>
                    </div>

                    <div class="course__startDate">
                        <div class="course__title"><i class="fas fa-calendar-alt mr-2"></i>Ngày khai giảng:</div>
                        <div class="course__value" id="detail-course-startDate">24/11/2021</div>
                    </div>

                    <div class="course__endDate">
                        <div class="course__title"><i class="fas fa-calendar-alt mr-2"></i>Ngày kết thúc:</div>
                        <div class="course__value" id="detail-course-endDate">24/11/2021</div>
                    </div>

                    <div class="course__submitDate">
                        <div class="course__title"><i class="fas fa-calendar-alt mr-2"></i>Hạn đăng ký:</div>
                        <div class="course__value" id="detail-course-submitDate">24/11/2021</div>
                    </div>

                    <div class="course__numberStudent">
                        <div class="course__title"><i class="fas fa-user-graduate mr-2"></i>SL học viên tham gia:</div>
                        <div class="course__value" id="detail-course-numUser">100</div>
                    </div>

                    <div class="course__description" id="detail-course-description">
                        <i class="fas fa-info-circle"></i> Mô tả: Khóa học là gói trang bị kiến thức, bám sát phân phối
                        chương trình bộ
                        Kết nối tri thức với cuộc sống. Bao quát toàn bộ kiến thức trong Bộ 1 (10 bài học theo chủ
                        đề, 4 kĩ năng Đọc – Viết – Nói – Nghe, Thực hành tiếng Việt và đọc mở rộng, Luyện tập)
                    </div>



                </div>
            </div>

        </div>
    </div>

    {{!---------------------------------ADD COURSE-------------------------------------}}
    <div class="add-course-container" id="add-course-modal">
        <div class="add-course__box">
            <div class="add-course__header">
                <div class="add-course__header-name">THÊM KHÓA HỌC </div>
                <i class="fas fa-times close__add-course-icon"></i>
            </div>
            <div class="row" id="add-course__body">
                <div class="col-lg-6 col-12">

                    <form action="#" class="add-course__input" method="POST" name="add-khoahoc-form">

                        {{!-- <label for="">ID món ăn</label> --}}

                        <input type="text" id="add-course-courseID" name="KH_Id" hidden>
                        <label for="">Tên Khóa học</label>
                        <input type="text" id="add-course-courseName" name="KH_Name">

                        <label for="">Loại khóa học</label>
                        <select id="add-course-courseType" name="KH_Type">
                            <option value=0>Đơn lẻ</option>
                            <option value=1>Combo</option>
                        </select>



                        <label for="">Lớp</label>
                        <select id="add-course-class" name="KH_Grade">
                            <option value="Lớp 6">Lớp 6</option>
                            <option value="Lớp 7">Lớp 7</option>
                            <option value="Lớp 8">Lớp 8</option>
                            <option value="Lớp 9">Lớp 9</option>
                            <option value="Lớp 10">Lớp 10</option>
                            <option value="Lớp 11">Lớp 11</option>
                            <option value="Lớp 12">Lớp 12</option>
                        </select>

                        <label for="">Loại trình độ</label>
                        <select id="add-course-level" name="KH_GradeType">
                            <option value="HOCTOT">Học Tốt</option>
                            <option value="MASTER">Master</option>
                            <option value="MASTERZ">MasterZ</option>
                            <option value="BOTRO">Bổ trợ</option>
                            <option value="PEN-I">Pen-I</option>
                            <option value="PEN-C">Pen-C</option>
                            <option value="PEN-M">Pen-M</option>
                        </select>

                        <label for="">Môn học</label>
                        <select id="add-course-subject" name="KH_Subject">
                            <option value=0>Tổng hợp nhiều môn</option>
                            <option value=1>Ngữ Văn</option>
                            <option value=2>Toán Học</option>
                            <option value=3>Tiếng Anh</option>
                            <option value=4>Tin Học</option>
                            <option value=5>Vật Lý</option>
                            <option value=6>Hóa Học</option>
                            <option value=7>Sinh Học</option>
                            <option value=8>Lịch Sử</option>
                        </select>

                        <label for="">Ngày bắt đầu</label>
                        <input type="date" id="add-course-startDate" name="KH_StartDate">
                    </form>
                </div>


                <div class="col-lg-6 col-12">
                    <form action="#" class="add-course__input" method="POST" name="add-khoahoc-form">
                        <label for="">Ngày kết thúc</label>
                        <input type="date" id="add-course-endDate" name="KH_EndDate">

                        <label for="">Hạn đăng ký</label>
                        <input type="date" id="add-course-submitDate" name="KH_SubmitDate">

                        <label for="">Học phí</label>
                        <input type="text" id="add-course-tuition" name="KH_Tuition">

                        <label>Ảnh minh họa</label>
                        <input type="file" id="add-course-image" name="KH_Image">

                        <label for="">Mô tả</label>
                        <input type="text" id="add-course-description" name="KH_Description">

                    </form>
                </div>
            </div>
            <button class="btn btn-primary btn-block" type="submit"><i class="fas fa-plus mr-2"></i>Thêm khóa
                học</button>
        </div>
    </div>



    {{!---------------------------------Update COURSE-------------------------------------}}
    <div class="update-course-container" id="update-course-modal">
        <div class="update-course__box">
            <div class="update-course__header">
                <div class="update-course__header-name">CHỈNH SỬA KHÓA HỌC </div>
                <i class="fas fa-times close__update-course-icon"></i>
            </div>
            <div class="row" id="update-course__body">
                <div class="col-lg-6 col-12">

                    <form action="#" class="update-course__input" method="POST" name="update-khoahoc-form">

                        {{!-- <label for="">ID món ăn</label> --}}

                        <input type="text" id="update-course_courseID" name="update_KH_Id" hidden>
                        <label for="">Tên Khóa học</label>
                        <input type="text" id="update-course-name" name="update_KH_Name">

                        <label for="">Loại khóa học</label>
                        <select id="update-course-courseType" name="update_KH_Type">
                            <option value=0>Đơn lẻ</option>
                            <option value=1>Combo</option>
                        </select>



                        <label for="">Lớp</label>
                        <select id="update-course-class" name="update_KH_Grade">
                            <option value=""></option>
                            <option value="Lớp 6">Lớp 6</option>
                            <option value="Lớp 7">Lớp 7</option>
                            <option value="Lớp 8">Lớp 8</option>
                            <option value="Lớp 9">Lớp 9</option>
                            <option value="Lớp 10">Lớp 10</option>
                            <option value="Lớp 11">Lớp 11</option>
                            <option value="Lớp 12">Lớp 12</option>
                        </select>

                        <label for="">Loại trình độ</label>
                        <select id="update-course-level" name="update_KH_GradeType">
                            <option value=" "></option>
                            <option value="HOCTOT">Học Tốt</option>
                            <option value="MASTER">Master</option>
                            <option value="MASTERZ">MasterZ</option>
                            <option value="BOTRO">Bổ trợ</option>
                            <option value="PEN-I">Pen-I</option>
                            <option value="PEN-C">Pen-C</option>
                            <option value="PEN-M">Pen-M</option>
                        </select>

                        <label for="">Môn học</label>
                        <select id="update-course-subject" name="update_KH_Subject">
                            <option value=0>Tổng hợp nhiều môn</option>
                            <option value=1>Ngữ Văn</option>
                            <option value=2>Toán Học</option>
                            <option value=3>Tiếng Anh</option>
                            <option value=4>Tin Học</option>
                            <option value=5>Vật Lý</option>
                            <option value=6>Hóa Học</option>
                            <option value=7>Sinh Học</option>
                            <option value=8>Lịch Sử</option>
                        </select>

                        <label for="">Ngày bắt đầu</label>
                        <input type="date" id="update-course-startDate" name="update_KH_StartDate">
                    </form>
                </div>


                <div class="col-lg-6 col-12">
                    <form action="#" class="update-course__input" method="POST" name="update-khoahoc-form">
                        <label for="">Ngày kết thúc</label>
                        <input type="date" id="update-course-endDate" name="update_KH_EndDate">

                        <label for="">Hạn đăng ký</label>
                        <input type="date" id="update-course-submitDate" name="update_KH_SubmitDate">

                        <label for="">Học phí</label>
                        <input type="text" id="update-course-tuition" name="update_KH_Tuition">


                        <label>Ảnh minh họa</label>
                        <input type="file" id="update-course-image" name="update_KH_Image">

                        <label for="">Mô tả</label>
                        <input type="text" id="update-course-description" name="update_KH_Description">

                    </form>
                </div>
            </div>

            <div class="row">
                <button class="btn btn-primary" type="submit" id="update_btn">Cập nhật</button>
                <button class="btn btn-primary" type="submit" id="delete_btn">Xóa khóa học</button>
            </div>

            {{#if filterFlag}}
            <form action="/course-filter" method="POST" role="form" name="filter-form">
                <input type="text" class="form-control" id="filter_grade_form" name="filter_grade_form" hidden value="{{filters.filter_grade_form}}">
                <input type="text" class="form-control" id="filter_subject_form" name="filter_subject_form" hidden value="{{filters.filter_subject_form}}">
                <input type="text" class="form-control" id="filter_type_form" name="filter_type_form" hidden value="{{filters.filter_type_form}}">
                <input type="text" class="form-control" id="filter_gradeType_form" name="filter_gradeType_form" hidden value="{{filters.filter_gradeType_form}}">
            </form>
            {{else}}
            <form action="/course-filter" method="POST" role="form" name="filter-form">
                <input type="text" class="form-control" id="filter_grade_form" name="filter_grade_form" hidden>
                <input type="text" class="form-control" id="filter_subject_form" name="filter_subject_form" hidden>
                <input type="text" class="form-control" id="filter_type_form" name="filter_type_form" hidden>
                <input type="text" class="form-control" id="filter_gradeType_form" name="filter_gradeType_form" hidden>
            </form>
            {{/if}}
        </div>
    </div>
</div>