<div class="dropdown_giaovien">
    <div class="row">
        <div class="col-lg-2 col-md-5 col-sm-12 mr-3">
            <div class="form-group"> <label for="GV_filter">
                <div class="filter-title">Sắp xếp theo</div>
                </label> <select class="form-control" id="">
                    <option value=" "></option>
                    <option>ID (tăng dần)</option>
                    <option>ID (giảm dần)</option>
                    <option>Họ (tăng dần)</option>
                    <option>Họ (giảm dần)</option>
                    <option>Tên (tăng dần)</option>
                    <option>Tên (giảm dần)</option>
                    <option>Ngày sinh (tăng dần)</option>
                    <option>Ngày sinh (giảm dần)</option>
                </select>
            </div>
        </div>

        <div class="col-lg-2 col-md-5 col-sm-12 mr-3">
            <div class="form-group"> <label for="GV_filter">
                    <div class="filter-title">Loại</div>
                </label> <select class="form-control" id="">
                    <option value=" "></option>
                    <option>Học viên</option>
                    <option>Trợ giảng</option>
                    <option>Giáo viên</option>
                </select>
            </div>
        </div>

        <div class="col-lg-2 col-md-5 col-sm-12 mr-3">
            <div class="form-group"> <label for="GV_filter">
                    <div class="filter-title">Giới tính</div>
                </label> <select class="form-control" id="">
                    <option value=" "></option>
                    <option>Nam</option>
                    <option>Nữ</option>
                </select>
            </div>
        </div>

        <div class="col-lg-2 col-md-5 col-sm-12 mr-3">
            <div class="add_button">
                <button class="button"><i class="fas fa-plus mr-2"></i>THÊM </button>
            </div>
        </div>
    </div>
</div>



{{!-- table component --}}
<div
  class="container first-container col-sm-12 pull-left"
  style="padding: 15px"
>
  <table class="table table-condensed">
    <thead style="text-align:center">
      <tr>
        <th>ID</th>
        <th>Loại</th>
        <th>Họ</th>
        <th>Tên lót</th>
        <th>Tên</th>
        <th>Giới tính</th>
        <th>Xem chi tiết</th>
      </tr>
    </thead>
    <tbody>
      {{#each UserArray}}
        <tr class="sub-container" style="text-align:center">
          <td>{{this.id}}</td>
          <td>{{this.loai}}</td>
          <td>{{this.ho}}</td>
          <td>{{this.ten_lot}}</td>
          <td>{{this.ten}}</td>
          <td>{{this.gioi_tinh}}</td>
          <td>
            <button type="button" class="btn btn-success exploder">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </td>
        </tr>

        <tr class="explode hide">
          <td colspan="7" style="background: #CCC; display: none;">
            <table class="table table-condensed">
              <thead style="text-align:center">
                <tr>
                  <th>Email</th>
                  <th>Tên đăng nhập</th>
                  <th>Mật khẩu</th>
                  <th>Xã/phường</th>
                  <th>Quận/huyện</th>
                  <th>Tỉnh/thành phố</th>
                  <th>Ngày sinh</th>
                </tr>
              </thead>
              <tbody style="text-align:center">
                <tr>
                  <td>{{this.email}}</td>
                  <td>{{this.ten_dang_nhap}}</td>
                  <td>{{this.mat_khau}}</td>
                  <td>{{this.xa_phuong}}</td>
                  <td>{{this.quan_huyen}}</td>
                  <td>{{this.tinh_tp}}</td>
                  <td>{{this.ngay_sinh}}</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>

  <script>
    $(".exploder").click(function(){ $(this).toggleClass("btn-success btn-danger"); 
      $(this).children("span").toggleClass("glyphicon-search glyphicon-zoom-out"); 
      $(this).closest("tr").next("tr").toggleClass("hide");
      
      if ($(this).closest("tr").next("tr").hasClass("hide")) 
      {
        $(this).closest("tr").next("tr").children("td").slideUp(); 
      } else {
        $(this).closest("tr").next("tr").children("td").slideDown(350); 
      }
      });
  </script>
</div>



